$border-color: #dee2e6;
$primary-yellow: #F58220;
$secondary-yellow: #d93;

body {
    margin: 0;
}

.Navbar {
    .Navbar-head {
        .logo {
            height: 70px;
        }

        input {
            border-color: $border-color !important;

            &:focus {
                border-color: $border-color !important;
                box-shadow: 0px 0px 0px !important;
            }
        }

    }

    .Navbar-list {
        background-color: $primary-yellow;

        .list-item {
            &:hover {
                z-index: 3 !important;

                ul {
                    display: flex !important;

                }
            }
        }

        li {
            transition: all 0.4s ease-in-out;

            &:hover {
                background-color: $primary-yellow ;
                transition: all 0.4s ease-in-out;

            }
        }
    }

    transition: all 0.4s ease-in-out;

    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease-in-out;
        z-index: 2 !important;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    z-index: 2 !important;
}

.Navbar-res {
    z-index: 2;

    .logo {
        height: 50px;
        width: 150px;
    }

    input {
        border-color: $border-color !important;

        &:focus {
            border-color: $border-color !important;
            box-shadow: 0px 0px 0px !important;
        }
    }

    button {
        border-color: $primary-yellow !important;
    }

    .border {
        border-color: $primary-yellow !important;
    }

    .nav-list-items {
        p {
            transition: all 0.4s ease-in-out;

            &:hover {
                background-color: $primary-yellow !important;
                transition: all 0.4s ease-in-out;
            }
        }
    }

}

.homeBanner {
    height: 70vh;
    background-image: url('../images/homeBanner.webp');
    background-size: cover;
    background-repeat: no-repeat;

    .shopNow {
        background-color: $primary-yellow !important;

        &:hover {
            background-color: #000 !important;
        }
    }
}

.homeBanner-lower {
    height: 70px;
    background-color: $primary-yellow !important;
}


.line {
    height: 3px !important;
    background-color: #000 !important;
}

.item {
    height: 80vh;
    z-index: 1 !important;

    .item-img {
        height: 62% !important;
        overflow: hidden;

        .item-discount {
            top: 20px;
            left: 20px;
            background-color: $primary-yellow !important;
            z-index: 1;
        }

        img {
            height: 100% !important;
            width: 100% !important;
            scale: 1.05;
            transition: all 0.4s ease-in-out;
            // z-index:  !important;
        }

    }

    &:hover {
        img {
            scale: 1;
            transition: all 0.4s ease-in-out;
        }

        .addCart {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            transition: all 0.4s ease-in-out;
        }
    }

    i {
        color: $primary-yellow;
    }

    .price {
        p:nth-child(1) {
            font-size: 15px;
        }

        p:nth-child(2) {
            color: $primary-yellow;
            font-size: 16px !important;
        }
    }

    .addCart {
        background-color: $primary-yellow !important;
        display: none !important;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: #000 !important;
            transition: all 0.4s ease-in-out;
        }
    }
}

.bands-item {
    img {
        height: 120px !important;
        width: 240px !important;
        scale: 1;
        transition: all 0.4s ease-in-out;

    }

    &:hover {
        img {
            scale: 1.1;
            transition: all 0.4s ease-in-out;
        }
    }
}

button {
    background-color: $primary-yellow !important;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #000 !important;
        transition: all 0.3s ease-in-out;

    }
}

.Watch-quote{
    height: 80vh;
    background-image: url('../images/background-image.webp');
    background-size: cover;
    background-attachment: fixed;
    .inner-elements{
        background-color: #0000007e;
        
    }
}

.News-Item {
    img{
        height: 200px;
    }
    .date{
        font-size: 14px;
    }
}


.footer{
    background-color: #000000D9 !important;
}


@media screen and (max-width:550px) and (min-width:100px) {
    .homeBanner-lower {
        height: auto !important;
    }
}