.add-cart {
    background-color:#083c89c5 !important;
    font-size: 14px !important;
}
.buy{
    background-color:#52850bbd !important;
    font-size: 14px !important;

}
.trust-text{
    top: -14px;
    left: 30%;
}
.increment{
    &:hover{
        cursor: pointer;
        background-color: #ecebeb;
    }
}
.decrement{
    &:hover{
        cursor: pointer;
        background-color: #ecebeb;
    }
}

.product-image{
    
    position: relative;
    height: 80px !important;
    width: 80px !important;
    img{
        height: 100% !important;
        width: 100% !important;
    }
    .quantity-badge{
        right: -10px !important;
        top: -10px;
    }
}