.add-cart {
    background-color:#083c89c5 !important;
    font-size: 14px !important;
}
.buy{
    background-color:#52850bbd !important;
    font-size: 14px !important;

}
.trust-text{
    top: -14px;
    left: 30%;
}
.increment{
    &:hover{
        cursor: pointer;
        background-color: #ecebeb;
    }
}
.decrement{
    &:hover{
        cursor: pointer;
        background-color: #ecebeb;
    }
}