body {
  margin: 0;
}

.Navbar {
  transition: all 0.4s ease-in-out;
}
.Navbar .Navbar-head .logo {
  height: 70px;
}
.Navbar .Navbar-head input {
  border-color: #dee2e6 !important;
}
.Navbar .Navbar-head input:focus {
  border-color: #dee2e6 !important;
  box-shadow: 0px 0px 0px !important;
}
.Navbar .Navbar-list {
  background-color: #F58220;
}
.Navbar .Navbar-list .list-item:hover {
  z-index: 3 !important;
}
.Navbar .Navbar-list .list-item:hover ul {
  display: flex !important;
}
.Navbar .Navbar-list li {
  transition: all 0.4s ease-in-out;
}
.Navbar .Navbar-list li:hover {
  background-color: #F58220;
  transition: all 0.4s ease-in-out;
}
.Navbar .fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  z-index: 2 !important;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  z-index: 2 !important;
}

.Navbar-res {
  z-index: 2;
}
.Navbar-res .logo {
  height: 50px;
  width: 150px;
}
.Navbar-res input {
  border-color: #dee2e6 !important;
}
.Navbar-res input:focus {
  border-color: #dee2e6 !important;
  box-shadow: 0px 0px 0px !important;
}
.Navbar-res button {
  border-color: #F58220 !important;
}
.Navbar-res .border {
  border-color: #F58220 !important;
}
.Navbar-res .nav-list-items p {
  transition: all 0.4s ease-in-out;
}
.Navbar-res .nav-list-items p:hover {
  background-color: #F58220 !important;
  transition: all 0.4s ease-in-out;
}

.homeBanner {
  height: 70vh;
  background-image: url("../images/homeBanner.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.homeBanner .shopNow {
  background-color: #F58220 !important;
}
.homeBanner .shopNow:hover {
  background-color: #000 !important;
}

.homeBanner-lower {
  height: 70px;
  background-color: #F58220 !important;
}

.line {
  height: 3px !important;
  background-color: #000 !important;
}

.item {
  height: 80vh;
  z-index: 1 !important;
}
.item .item-img {
  height: 62% !important;
  overflow: hidden;
}
.item .item-img .item-discount {
  top: 20px;
  left: 20px;
  background-color: #F58220 !important;
  z-index: 1;
}
.item .item-img img {
  height: 100% !important;
  width: 100% !important;
  scale: 1.05;
  transition: all 0.4s ease-in-out;
}
.item:hover img {
  scale: 1;
  transition: all 0.4s ease-in-out;
}
.item:hover .addCart {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.4s ease-in-out;
}
.item i {
  color: #F58220;
}
.item .price p:nth-child(1) {
  font-size: 15px;
}
.item .price p:nth-child(2) {
  color: #F58220;
  font-size: 16px !important;
}
.item .addCart {
  background-color: #F58220 !important;
  display: none !important;
  transition: all 0.4s ease-in-out;
}
.item .addCart:hover {
  background-color: #000 !important;
  transition: all 0.4s ease-in-out;
}

.bands-item img {
  height: 120px !important;
  width: 240px !important;
  scale: 1;
  transition: all 0.4s ease-in-out;
}
.bands-item:hover img {
  scale: 1.1;
  transition: all 0.4s ease-in-out;
}

button {
  background-color: #F58220 !important;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #000 !important;
  transition: all 0.3s ease-in-out;
}

.Watch-quote {
  height: 80vh;
  background-image: url("../images/background-image.webp");
  background-size: cover;
  background-attachment: fixed;
}
.Watch-quote .inner-elements {
  background-color: rgba(0, 0, 0, 0.4941176471);
}

.News-Item img {
  height: 200px;
}
.News-Item .date {
  font-size: 14px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8509803922) !important;
}

@media screen and (max-width: 550px) and (min-width: 100px) {
  .homeBanner-lower {
    height: auto !important;
  }
}

/*# sourceMappingURL=style.css.map */
